<h1 class="text-center"> About Company </h1>
<hr>
<!-- First Band (Slider) -->


  <div class="row text-center" class="center">
    <div class="large-12 columns text-center">
      <ul class="example-orbit" data-orbit>
        <li><img src=
        "http://placehold.it/1000x400&amp;text=[%20img%201%20]"></li>
        <li><img src=
        "http://placehold.it/1000x400&amp;text=[%20img%202%20]"></li>
        <li><img src=
        "http://placehold.it/1000x400&amp;text=[%20img%203%20]"></li>
      </ul>
    </div>
  </div>
    
<hr/>

  
<!-- Three-up Content Blocks -->
<h1 class="text-center"> Meet our Team </h1>
  <hr>
  <div class="row">
    <div class="large-12 columns">
      <img src="http://placehold.it/720x300&text=Santhosh -- CEO" />
      <h4>Santhosh Kumar</h4>
      <p>Bacon ipsum dolor sit amet nulla ham qui sint exercitation eiusmod commodo, chuck duis velit. Aute in reprehenderit, dolore aliqua non est magna in labore pig pork biltong. Eiusmod swine spare ribs reprehenderit culpa. Boudin aliqua adipisicing rump corned beef.</p>
    </div>
    
  </div>

<hr>

  <!-- Team Page -->
  
 <div class="row">
   <h1 class="text-center"> Say HI to Our Hackers </h1>
   <hr>
    <div class="large-6 columns">

      
      <h3>Vasista Sharma  - Ruby on Rails Hacker</h3> 
         <hr>
      <img class="text-center"src="http://placehold.it/320x300&text=Vasista Sharma" />
   
      <p>He started playing with mainframe systems at his college days,he his lives in virtual world.Plays with lot of instructions.</p>
    </div>

    <div class="large-6 columns">      <h3>SAI KIRAN MOTHE  - Open Source
Hacker</h3>             <hr>      <img
src="http://placehold.it/320x300&text=SAI KIRAN MOTHE" />

      <p>He started playing with mainframe systems at his college days,he his lives in virtual world.Plays with lot of instructions.</p>
    </div>
    
  </div>  

  <!-- Team Page ends here -->
<!-- Call to Action Panel -->
<div class="row">
    <div class="large-12 columns">
    
      <div class="panel">
        <h4>Get in touch!</h4>
            
        <div class="row">
          <div class="large-9 columns">
            <p>We'd love to hear from you, we will help you in applying a exam.</p>
          </div>
          <div class="large-3 columns">
            <a href="/contact" class="radius button right">Contact Us</a>
          </div>
        </div>
      </div>
      
    </div>
  </div>