<%# add navigation links to this file %>
      <!-- Right Nav Section -->

        <li class="divider"></li>
                <li class="right"><a href="/contact">Contact</a></li>

        <li class="right"><a href="/about">About</a></li>
        
        <li class="divider"></li>
        
        <li class="divider"></li>
        <li class="has-dropdown">
          <a href="#">Exam Notifications</a>
          <ul class="dropdown">
            <li><label>EXAM NOTIFICATIONS</label></li>
           
            <li><a href="/exams">EXAMS</a></li>
            <li><a href="/jobs">JOBS</a></li>
            <li class="divider"></li>
            
          </ul>
        </li>
        <li class="divider"></li>
       
        <li class="has-dropdown">
          <a href="#">Results</a>
          <ul class="dropdown">
          <li><label>RESULTS</label></li>
             <li><a href="/">EXAM Results</a></li>
            <li><a href="/">JOB RESULTS</a></li>
            <!-- 
              <li><a href="/results">EXAM Results</a></li>
            <li><a href="/jobresults">JOB RESULTS</a></li> -->
            <li class="divider"></li>

            
          </ul>
        </li>
     
  <!-- End Top Bar -->

  <!-- login_links rendered here -->
    <%= render 'layouts/login_links' %>
  <!-- login links -->